---
layout: default
---
<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <article>
		    {% include article_header_index.html %}

        {% if post.interviewee01_vimeo_id %}  
          {% include vimeo_iframe_index.html %}
        {% endif %}  
        
        {% if post.interviewee01_SC_id %}  
          {% include soundcloud_iframe_index.html %}
        {% endif %}
        </article>
      </li>
    {% endfor %}
  </ul>
</div>

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="home_arrow" href="{{ site.baseurl }}/"><<</a> 
      <a class='active_paginator_text' href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a>
    {% else %}
      <span class='inactive_arrow'><<</span>
      <span class='inactive_paginator_text'>Prev</span>
    {% endif %}
  
    <div class='pagination_links_wrapper'>
      {% for page in (paginator.page..paginator.total_pages) | limit: 5 %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}
    </div>
  
    {% if paginator.next_page %}
      <a class='active_paginator_text' href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
      <a class="end_of_list_arrow" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}">>></a>
    {% else %}
      <span class='inactive_paginator_text'>Next</span>
      <span class='inactive_arrow'>>></span>
    {% endif %}
  </div>
{% endif %}
