.site-header {
  border-top: 2px solid white;
	background-color: #3C7EEE;
// Positioning context for the mobile navigation icon
  position: relative;
	border-bottom: 2px solid darken(#3C7EEE, 20%);
}

.site-header .wrapper {
  margin-top: 20px;
	height: 80px;
  max-width: 800px;
}

$icon-font-name: ribbon;

a.site-title {
  text-decoration: none;
  color: white;
  @font-face {
    font-family: 'Ribbon';
    src: url(asset_path('fonts/#{$icon-font-name}.eot'));
    src: url(asset_path('fonts/#{$icon-font-name}.woff')) format('woff'),
         url(asset_path('fonts/#{$icon-font-name}.ttf')) format('truetype'),
         url(asset_path('fonts/#{$icon-font-name}.svg#glyphicons-halflingsregular')) format('svg');
  }
  &:hover {
    opacity: 0.85;
  }
}

.site-title {
  font-size: 90px;
  //text-align: center;
  line-height: 110px;
  font-family: Ribbon;
  letter-spacing: -1px;
  margin-bottom: 0px;
  margin-top: -102px;
  margin-left: -6px;
  padding-left: $spacing-unit; 
  padding-top: 59px;
  float: left;
  @include media-query($on-laptop) {
    margin-left: 0px;
  }
}

.site-nav {
  float: right;
  margin-top: 60px;
	margin-right: 33px;
  .menu-icon {
    display: none;
  }
  .page-link {
    color: $light_blue;
    font-weight: 400;
    font-size: 20px;
    line-height: $base-line-height;
    &:hover {
      border-bottom: 1px solid $light_blue
    }
// Gaps between nav items, but not on the first one
    &:not(:first-child) {
    margin-left: 32px;
    margin-right: -2px;
    }
    @include media-query($on-palm) {
      &:hover {
        color: $light_blue;
        border-bottom: none;
      }
    }
  }
  @include media-query($on-palm) {
    margin-top: 19px;
    background-color: $background-color;
    border-radius: 5px;
    text-align: right;
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      text-align: center;
      > svg {
        width: 18px;
        height: 15px;
        path {
          fill: $grey-color-dark;
        }
      }
    }
    .trigger {
      clear: both;
      display: none;
    }
    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }
    .page-link {
      display: block;
    }
  }
}

.trigger {
  margin-top: 4px;
}

a.page-link.rss-subscribe {
  font-weight: 400;
  @include media-query($on-palm) {
    display: none;
  }
}
