@import 'pagination';
@import 'header';
@import 'footer';
@import 'logo';
@import 'index_list';
@import 'posts';

.page-content {
  padding: $spacing-unit 0;
  padding-top: 0px;
  padding-bottom: 0px;
  .wrapper {
    margin-top: 70px;
  }
}

.page-content .wrapper {
  margin-top: 70px;
}

#mini_player {
  margin: {
    top: 28px;
		bottom: 15px;
	}
}

.page-title {
  margin: {
    bottom: -7px;
    top: 14px;
  }
}
