@mixin border-animation-prep {
  position: relative;
	text-decoration: none;
}

@mixin border-animation-before($border-size, $speed) {
  content: "";
	position: absolute;
	width: 100%;
	height:$border-size;
	bottom: 0;
	left: 0;
	background-color: $light_blue;
	visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all $speed ease-in-out 0s;
  transition: all $speed ease-in-out 0s;
}

@mixin border-animation-hover-before {
  visibility: visible;
 -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

