.pagination {
  margin-top: 92px;
  margin-bottom: 46px;
}

.pagination a:before {
  @include border-animation-before(1px, 0.25s);
}

.pagination a:hover:before {
  @include border-animation-hover-before;
}

.pagination a {
  @include border-animation-prep;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 7px;
  color: $grey-color-dark;
  &:first-child {
    margin-left: 0px;
  }
  &:hover {
    color: $light_blue;
  }
}

.pagination em {
  margin-right: 5px;
  color: $light_blue;
  font-size: 26px;
}

a.active_paginator_text {
  font-size: 28px;
  color: $grey-color-dark;
  margin-right: 20px;
  margin-left: 20px;
  &:hover {
    color: $light_blue;
  }
  @include media-query($on-palm) {
    font-size: 26px;
  }
}

.inactive_paginator_text {
  display: none;
}

a.home_arrow, a.end_of_list_arrow {
  font-size: 26px;
  &:hover {
    color: $light_blue;
  }
}

a.home_arrow {
  margin-right: 0px;
}

a.end_of_list_arrow {
  margin-left: 0px;
  margin-right: 0px;
}

.inactive_arrow {
  display: none;
}

.pagination_links_wrapper {
  display: inline;
  @include media-query($on-palm) {
    display: none;
  }
}
