---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  {% if page.interviewee_01_keywords %}
    <section class="post-content keywords">
      <h3>{{ page.interviewee_01_keywords }}</h3>
    </section>
  {% endif %}

  {% if page.interviewee_01 %}
    <section class="post-content interviewee_name">
      <h4>{{ page.interviewee_01 }}</h4>
    </section>
  {% endif %}

![Image description]({{ site.url }}assets/Avdi_Grimm_Play_Button.jpg)

</div>
